@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400&display=swap');

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background: #000000;
    font-family: 'Poppins', sans-serif;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: no-repeat center center fixed;
    background-size: cover;
}

#bg_small {
    filter: blur(10px);
    background-image: url('bg_small.png');
}

#bg_full {
    animation: fadein 2s;
    background-image: url('bg_full.png');
}

#container {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    display: grid;
    justify-items: center;

    color: #eeeeee;
    background: rgba(0, 0, 0, 0.6);
}

#container a {
    color: #dddddd;
    font-weight: 300;
    text-decoration: none;
}

#container a:hover {
    color: #eeeeee;
    text-decoration: underline;
}

#container #content {
    width: 80%;
    margin: 128px 24px 24px 24px;
}

#container #content h1 {
    margin: 0px 0px 16px -4px;
    color: #ffffff;
    font-size: 62px;
    font-weight: 100;
}

#container #content h3 {
    margin: 0px;
    font-size: 24px;
    font-weight: 200;
}

#container #content h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

#container #content img {
    margin-right: 16px;
    width: 36px;
    height: 36px;
}

#container #content a img {
    opacity: 0.75;
}

#container #content a:hover img {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
